* {
	margin: 0;
}
/*common--------------------------------------------------------------------------------*/
.zero-font {
	font-size: 0;
}
.cropper-button {
	font-size: 18px;
	padding: 5px 10px;
	background-color: rgb( 130, 168, 0 );
	color: white;
	cursor: pointer;
	outline: none;
	border: none;
	user-select: none;
	transition: box-shadow .5s, border-color .5s;
	margin: 10px;
	border-radius: 3px;
	border: 1px solid rgb( 245, 245, 245 );
}
.cropper-button label {
	cursor: pointer;
}
.cropper-button:hover {
	box-shadow: 0 0 5px 3px rgb( 130, 168, 0 );
}	
.right-float {
	float: right;
}
.info-line {
	padding: 5px;
	font-size: 15px;
	background-color: rgb( 31, 31, 31 );
	color: rgb( 200, 200, 200 );
	min-height: 17px;
	font-family: Verdana, Geneva, sans-serif;
	word-spacing: 1px;
	font-weight: bold;
}
/*--------------------------------------------------------------------------------*/
body {
	overflow: hidden;
}
#app-container{
	background-image: url( 'background.jpg' );	
	background-repeat: no-repeat;
	background-size: 100% 100%;
	width: 100%;
	height: 100vh;
	user-select: none;
	padding-top: 30px;
}
#selection-form {
	padding: 0;
}
#selection-form fieldset {
	margin: 0;
}
#selection-form fieldset>label:not(:last-child) {
	cursor: pointer;
}
#selection-form fieldset>label:not(:last-child) input {
	margin-top: 10px;	
	cursor: pointer;
}	
#main-container {
	width: 95%;
	max-width: 1200px;
	margin: 0 auto;
	background-color: white;
}
#selection-form {
	padding: 10px;
}
#file-browse {
	display: inline-block;
	position: relative;
	overflow: hidden;
	vertical-align: top;
	cursor: pointer;
}
#file-src {
	vertical-align: top;
	position: absolute;
	top: 0;
	right: 0;
	width: 250%;
	height: 100%;
	cursor: pointer;
	opacity: 0;
	z-index: 1
}
#hint {
	display: none;
	padding: 3px 7px;
	opacity: 0;
	position: relative;
	background-color: rgb( 130, 168, 0 );
	color: white;
	animation-name:	hintAnim;
	animation-duration: .5s;
	animation-fill-mode: forwards;	
}
@keyframes hintAnim {
	from { opacity: 0; margin-left: 50px; }
	to { opacity: 1; margin-left: 2px; }
}
#hint>div:first-child {
	position: absolute;
	left: -10px;
	top: 6px;
	border: 5px solid rgb( 130, 168, 0 );
	font-family: Verdana, Geneva, sans-serif;
	border-top-color: transparent;
	border-bottom-color: transparent;
	border-left-color: transparent;
}	
#image-path {
	padding: 5px;
	font-size: 15px;
	margin: 12px 0 13px 0;
	width: 70%;
	max-width: 500px;
}
#compress-crop-area-wrapper {
	color: rgb( 200, 200, 200 );
}
#caption-bar {
	padding: 15px;
	font-size: 15px;
	font-family: Verdana, Geneva, sans-serif;
	word-spacing: 1px;
	background-color: rgb( 230, 230, 230 );
	font-weight: bold;
}
#mode-bar {
	width: 60px;
	height: 30px;
	border-radius: 15px;
	background-color: rgb( 245, 245, 245 );
	position: relative;
	padding: 0;
	margin-top: -6px;
	margin-left: 10px;
}
#inner-mode-bar {
	position: absolute;	
	right: 0;
	height: 100%;
	width: 30px;
	border-radius: 15px;
	background-color: rgb( 130, 168, 0 );
	text-align: left;
	transition: width 1s;
}
#mode-pointer {
	position: absolute;
	left: 0%;
	top: 0%;
	height: 30px;	
	width: 30px;
	border-radius: 15px;
	background-color: white;
	z-index: 1;	
}
#paint-container {
	position: relative;
	height: 60vh;

}
#paint-container>* {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}	
#main-canvas {
	background-color: white;
	user-select: none;
}
#crop-area {
	display: none;
	border: 1px dashed black;
	z-index: 1;
	box-shadow: 0 0 1px 1px rgba( 100, 100, 100, .5 );
}
#glass {
	background-color: transparent;	
	z-index: 2;
	user-select: none;
}
#image-wrapper {
	z-index: -1;
	overflow: auto;
}
#save-canvas-wrapper {
	height: 50vh;
	overflow: auto;
}
#serv-link {
	visibility: hidden;
}
#modal-wrapper {
	position: fixed;
	top: 0;
	left: 0;
	width: .1px;
	height: .1px;
	visibility: hidden;
	background-color: rgba( 0, 0, 0, .5 );
	z-index: 10;
	display: flex;
	justify-content: center;
	align-items: center;
}
#cropped-container {
	width: calc( 100% - 10px );
	max-width: 1200px;
	height: 70vh;
	width: 0;
	border: 1px solid black;
	background-color: rgba( 245, 245, 245, .95 );
	animation-name: cropAnim;
	animation-duration: 1s;
	animation-fill-mode: forwards;
	opacity: 0;
	display: none;
}
@keyframes cropAnim {
	from { opacity: 0; width: 0; }
	to { opacity: 1; width: 100%;}
}
#save-canvas-wrapper {
	overflow: auto;
	height: calc( 100% - 107px );
	background-color: rgb( 250, 250, 250 );
}
#message-box {
	position: fixed;
	display: none;
	width: 90vw;
	max-width: 500px;	
	padding: 15px;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 12px;
	font-weight: bold;
	border: 1px solid rgb( 31, 31, 31 );
	background-color: rgba( 245, 245, 245, .95 );	
	border-radius: 2px;
	color: rgb( 31, 31, 31 );
	opacity: 0;
	animation-name:	messageAnim;
	animation-duration: .5s;
	animation-fill-mode: forwards;
}
#message-closure {
	font-weight: bold;
	position: absolute;
	top: 3px;
	right: 5px;
	font-weight: bold;
	cursor: pointer;
}
@keyframes messageAnim {
	from { opacity: 0; top: 50px; }
	to { opacity: 1; top: 100px; }
}
#message-box>div:last-child {
	word-break: break-all;
}