* {
	margin: 0;
}
/*common--------------------------------------------------------------------------------*/
.zero-font {
	font-size: 0;
}
.cropper-button {
	font-size: 18px;
	padding: 5px 10px;
	background-color: rgb( 130, 168, 0 );
	color: white;
	cursor: pointer;
	outline: none;
	border: none;
	user-select: none;
	transition: box-shadow .5s, border-color .5s;
	margin: 10px;
	border-radius: 3px;
	border: 1px solid rgb( 245, 245, 245 );
}
.cropper-button:hover {
	box-shadow: 0 0 5px 3px rgb( 130, 168, 0 );
}	
/*--------------------------------------------------------------------------------*/
#app-container{
	background-color: rgb( 245, 245, 245 );
	width: 100%;
	min-height: 80vh;
	user-select: none;
}
#src-form fieldset {
	margin: 0;
}
#main-container {
	width: 95%;
	max-width: 1200px;
	margin: 0 auto;
}
#src-form {
	padding: 10px;
}
#file-src {
}
#url-src {
	display: none;	
}
#image-src {
	width: 400px;
}
#caption-bar {
	padding: 20px 0;
}
#mode-bar {
	width: 60px;
	height: 30px;
	border-radius: 15px;
	background: white;
	position: relative;
	float: right;	
	padding: 0;
}
#inner-mode-bar {
	position: absolute;	
	right: 0;
	height: 100%;
	width: 30px;
	border-radius: 15px;
	background-color: rgb( 130, 168, 0 );
	text-align: left;
	transition: width 1s;
}
#mode-pointer {
	position: absolute;
	left: 0%;
	top: 0%;
	height: 30px;	
	width: 30px;
	border-radius: 15px;
	background-color: rgb( 220, 220, 220 );
	z-index: 1;	
}
#paint-container {
	position: relative;
}
#main-canvas, #glass, #image-wrapper, #save-canvas {
	width: 100%;
	height: calc( 100% - 400px );
}
#main-canvas {
	background-color: white;
	border: 1px solid black;
	position: relative;
	user-select: none;
}
#glass {
	position: absolute;
	left: 0;
	top: 0;
	background-color: transparent;	
	z-index: 2;
	user-select: none;
}
#image-selector {
	display: none;
	position: absolute;
	border: 1px dashed black;
	z-index: 1;
}
#image-wrapper {
	border: 1px solid black; 
	position: absolute;
	z-index: -1;
}
#image-wrapper img {
	max-width: 100%;
	max-height: 100%;
}

#cropped-container {
/*	position: fixed;
	display: none;
*/
	border: 1px solid green;
}
#save-canvas {
	border: 1px solid black;
}
#serv-link {
	visibility: hidden;
}